<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-itens-center">
            <div id="login-column" class="cd-md-6">
                <div id="login-box" class="cd-md-12">
                    <form id="login-form" class="form" (ngSubmit)="onSubmit()" [formGroup]="loginForm" novalidate>
                        <h3 class="text-center">Login</h3>
                        <div class="form-group">
                            <label for="email" class="text-center">Email</label><br>
                            <input type="text" name="usuario" id="email" class="form-control" formControlName="email">
                        </div>
                        <div class="form-group">
                            <label for="senha" class="text-center">Senha </label><br>
                            <input type="password" name="senha" id="senha" class="form-control" formControlName="senha">
                            <small *ngIf="statusResponse == 401" class="text-danger alinhar">
                                <div>
                                    {{messageApi}}
                                </div>
                            </small>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success btn-block" value="Entrar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>