<script src="js/bootstrap.js"></script>
<div class="header">

    <div class="container">

        <div class="logo">
            <h1><a [routerLink]="['/']">Vagnao Store<span>A Melhor Loja Virtual De Bilhar</span></a></h1>
        </div>
        <div class="head-t" *ngIf="idLogin == null">
            <ul class="li">
                <li><a routerLink="/login"><i class="fa fa-user" aria-hidden="true"></i>Login</a></li>
                <li><a routerLink="/login/registrar"><i class="fa fa-arrow-right" aria-hidden="true"></i>Cadastrar-se</a></li>
            </ul>
        </div>
        <div class="head-t" *ngIf="idLogin != null">
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm"><h4>Bem Vindo {{cliente.nome}}</h4></div>
                <div class="col-sm alinharFim"><button type="button" class="btn btn-link" (click)="logout()">Sair</button></div>
            </div>
        </div>

        <input type="checkbox" id="bt_menu" />
        <label for="bt_menu">&#9776;</label>
        <div class="cart" *ngIf="vendaId != null">
            <span [routerLink]="['/carrinho', vendaId]" class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge" >{{quantidadeItens}}</span></span>
        </div>
        <nav class="menu">
            <ul >
                <li (click)="direcionar(null)"><a class="hyper"><span>Inicio</span></a></li>
                <li *ngFor = "let categoria of categorias" (click)="direcionar(categoria.id)"><a class="hyper"><span>{{categoria.nome}}</span></a></li>
            </ul>
        </nav>
        <div class="clearfix"></div>
    </div>


    <style>
        .clearfix {
            background-color: white;
            color: black;
        }
    </style>

</div>


<div class="product">
    <div class="container">
        <div *ngFor="let produto of produtos" class="col-md-3 pro-1">
            <div  class="col-m alinharCentro">
                <a class="offer-img">
                    <img src="{{produto.urlImagem}}" class="img-responsive" height="200" width="100">
                </a>
                <div class="mid-1">
                    <div class="women">
                        <h6>{{produto.nome}}</h6>
                    </div>
                    <div class="mid-2">
                        <h6>R$ {{produto.preco}}</h6>
                    </div>
                    <div class="add add-2">
                        <button class="btn btn-danger my-cart-btn my-cart-b" (click)="adicionarCarrinho(produto)">Adicionar ao Carrinho</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>