

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

button{
font-size: large;
}

#login .container #login-row #login-column #login-box {
    max-width: 600px;
    
    background-color: ffffe0;
    font-size: large;
    color: black;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
    margin: 10px;
}


