<app-header-venda></app-header-venda>

<div class="product">
    <div class="container">
        <div *ngFor="let produto of produtos" class="col-md-3 pro-1">
            <div  class="col-m alinharCentro">
                <a class="offer-img">
                    <img src="https://cdn.iset.io/assets/54566/produtos/97/img_1445.jpg" class="img-responsive" alt="">
                </a>
                <div class="mid-1">
                    <div class="women">
                        <h6>{{produto.nome}}</h6>
                    </div>
                    <div class="mid-2">
                        <h6>R$ {{produto.preco}}</h6>
                    </div>
                    <div class="add add-2">
                        <button class="btn btn-danger my-cart-btn my-cart-b" >Adicionar ao Carrinho</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-footer-venda></app-footer-venda> -->