
#login .container #login-row #login-column #login-box {
    margin-top: 20%;
    max-width: 100%;
    height: 78%;   
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    background-color: ffffe0;
    font-size: large;
    color: black;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #novasenha {
    margin-top: -10px;
}

.botao{
    text-align: end;
    margin-right: 3%;
}