<div class="wrapper">
    <app-header-administrativo></app-header-administrativo>
    <app-sidebar-administrativo></app-sidebar-administrativo>
    <div class="content-wrapper marginTopBottomContentContainerAdmin">
        <br>
        <div class="container-fluid marginTopBottomContentContainerAdmin">
            <div>
                <div class="row">
                    <div class="col-sm-6 positionTitle">
                        <h5>Usuários administrativo</h5>
                    </div>
                    <div class="col-sm-6 positionButtons">
                        <button type="button" class="btn btn-outline-success btn-sm botao"
                            [routerLink]="['/administrativo/usuarios/adicionar']">Adicionar</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="pointer hoverRowTable" *ngFor="let usuario of login" [routerLink]="['/administrativo/usuarios/visualizar', usuario['email']]">
                                <th scope="row">
                                    <span>{{usuario.nome}}</span>
                                </th>
                                <th>
                                    <span>{{usuario.email}}</span>
                                </th>
                                <th (click)="$event.stopPropagation()">
                                    <button class="btn btn-outline-warning btn-sm" [routerLink]="['/administrativo/usuarios/editar', usuario['email']]">Editar</button>&nbsp;
                                    <button class="btn btn-outline-danger btn-sm" (click)="canDelete(usuario['nome'], usuario['id'],usuario['idLogin'])" > Excluir</button>
                                </th>

                                
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <app-control-sidebar-administrativo></app-control-sidebar-administrativo>
    <app-footer-administrativo></app-footer-administrativo>
</div>