.marginTopBottomContentContainerAdmin{
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

.positionTitle {
    text-align: center;
}

.positionButtons {
    text-align: end;
}

.pointer {
    cursor: pointer;
}

.hoverRowTable:hover {
    background-color: rgb(245, 245, 245);
    color: rgb(43, 50, 82)
}