.marginTopBottomContentContainerAdmin{
    background-color:white;
}

.marginContentContainerAdmin{
    margin-left: 5%;
    margin-right: 5%;
}

.positionTitle {
    text-align: start;
}

.positionButtons {
    text-align: end;
}
.content-wrapper{
    background-color: white !important;
}