.marginTopBottomContentContainerAdmin{
    margin-top: 20px !important;
    margin-bottom: 15px !important;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

.positionTitle {
    text-align: start;
}

.positionButtons {
    text-align: end;
}