.marginTopBottomContentContainerAdmin{
    margin-top: 20px !important;
    margin-bottom: 15px !important;
    margin-left: 5%;
    margin-right: 5%;
    background-color: ivory;
}

.positionTitle {
    text-align: start;
}

.positionButtons {
    text-align: end;
}
th{
text-align: center;
}

button{
    margin:2%;
}