<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a [routerLink]="['/']" class="brand-link">
    <i class="fas fa-home"></i>
    <span class="brand-text font-weight-light"> VagnãoStore</span>
    <br>

  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a [routerLink]="['/administrativo/usuarios']"class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Usuários
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/administrativo/categorias']" class="nav-link">
            <i class="nav-icon fas fa-list-alt"></i>
            <p>
              Categorias
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/administrativo/produtos']" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Produtos
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/administrativo/venda']" class="nav-link">
            <i class="nav-icon fas fa-handshake"></i>
            <p>
              Vendas
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="fas fa-sign-out-alt"></i>
            <p (click)="logout()">
              Sair 
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>